.nav-link {
  background-color: lightgreen;
}

header nav img {
  height: 25px;
}
a:hover {
  color: red;
}

h3,
p {
  margin: 5px 0;
}

button {
  background-color: lightblue;
  color: black;
  padding: 5px 10px;
  border: unset;
  cursor: pointer;
}

.ocultar {
  display: none;
}
